<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ajax requests</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/javascript/app.js"></script>
</head>
<body>

  <div id="content">load content here on click</div>
  <input type='text' id='target' value='7lCDEYXw3mM'></input>
  <button onClick="youtubeRequest()">Click to Change</button>

</body>
</html>
