<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ajax requests</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/javascript/app.js"></script>
</head>
<body>
  <h2>How many views does the following youtube video have?</h2>
  <div id="content">load view count here on click</div>
  <input type='text' id='target' placeholder='Enter youtube Video ID'></input>
  <button onClick="youtubeRequest()">Click to Change</button>

</body>
</html>
