<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ajax requests</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/javascript/app.js"></script>
</head>
<body>

  <div class="content">load content here on click</div>
  <button onClick="">Click to Change</button>

</body>
</html>
